
<div id="footer-v2" class="footer-v2">
    <div class="copyright">
        <div class="container">
            <ul class="text-center list-inline terms-menu">
                <li>@DateTime.UtcNow.Year © <strong>misiazdrave.bg</strong> - Всички права запазени</li>
                <li>  </li>
                <li><a href="@Url.Action("TermsAndPolicy", "Home", new { area=""})">Права за ползване</a></li>
                <li>  </li>
                <li><a href="@Url.Action("", "Contact", new { area=""})">Контакти</a></li>
            </ul>
        </div>
    </div>
</div>

