@section styles {
    <link rel="stylesheet" href="~/assets/css/pages/page_404_error.css">
}
<div class="container content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">500</span>
                <span>Случи се грешка!</span>
                <p>Моля опитайте по-късно.</p>
                <a class="btn-u btn-bordered" href="~/">Начало</a>
            </div>
        </div>
    </div>
</div>