<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="encryptPasswordSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="downloadBookSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="resetPasswordSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="confirmEmailSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<appSettings>
		<add key="TokenIssuer" value="https://orionscloud.com" />
		<add key="TokenAudience" value="https://orionscloud.com" />
		<add key="FacebookPhotoUri" value="https://graph.facebook.com/{0}/picture" />
		<!--one year-->
		<add key="TokenLifeTime" value="31540000" />
		<add key="BatchProcessingPageSize" value="500" />
		<add key="ConnectionPoolSize" value="100" />
		<add key="ConnectionTimeout" value="60" />
		<add key="WaitQueueSize" value="1500" />
	</appSettings>
	<encryptPasswordSettings>
		<add key="Enabled" value="false" />
		<add key="Iterations" value="1000" />
		<add key="SaltSize" value="256" />
		<add key="HashSize" value="256" />
	</encryptPasswordSettings>
	<downloadBookSettings>
		<add key="Enabled" value="false" />
		<add key="Host" value="smtp.gmail.com" />
		<add key="Ssl" value="true" />
		<add key="Port" value="587" />
		<add key="Account" value="" />
		<add key="Password" value="" />
		<add key="MessageFrom" value="" />
		<add key="MessageSubject" value="Вашата книга" />
		<add key="MessageBodyPath" value="Config\\email_download_book.html" />
	</downloadBookSettings>
</configuration>