<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<appSettings>
		<add key="SecureToken" value="" />
		<add key="TokenAudiencePublicKeyPath" value="Config\\PublicKey.xml" />
		<add key="TokenAudiencePrivateKeyPath" value="Config\\PrivateKey.xml" />
		<add key="Logger" value="Info, Trace, Error, Warning" />
		<add key="VideoContainer" value="live-video" />
		<add key="PhotoContainer" value="~/content/gallery/" />
		<add key="ThumbnailContainer" value="live-thumbnail" />
		<add key="PhotoUri" value="" />
		<add key="VideoUri" value="" />
		<add key="ThumbnailUri" value="" />
		<add key="DatabaseConnectionString" value="" />
		<add key="DatabaseName" value="live-misiazdrave" />
		<add key="DatabaseCollectionNamespace" value="" />
		<add key="StorageConnection" value="" />
		<add key="EmailConfirmationRequired" value="false" />
		<add key="TwitterKey" value ="" />
		<add key="TwitterSecret" value ="" />
		<add key="FacebookKey" value ="" />
		<add key="FacebookSecret" value ="" />
	</appSettings>
</configuration>