@section styles{
    <link rel="stylesheet" href="~/extentions/assets/css/consulting.style.css">
}
<div class="book-review">
    <section class="intro-section g-pt-50 g-pb-180">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 g-2xs-mb-30">
                    <div class="g-heading-v7 text-center">
                        <h2 class="g-mb-40text-success"><i class="fa fa-check"></i> Наръчникът беше изпратен успешно на вашия Email. Също така мoже да използвате адреса за сваляне по долу.</h2>
                        <br/>
                        <p>
                            <strong>
                                <a href="@ViewBag.Url">Свали - Наръчник за балансиране на хормоните.</a>
                            </strong>
                        </p>
                        @*<br/>
                        <span class="text-info">
                            Ако не сте получили наръчника, можете да ми пишете от формата за контакти или на <a href="https://facebook.com/misiazdrave">facebook.com/misiazdrave</a>, за да Ви го изпратя отново.
                        </span>*@
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>
                        Присъеденете се към моята фейсбук страница за да получавате още информация за здравето. Благодаря!
                    </p>
                    <div class="social-container">
                        <a class="btn btn-social btn-adn btn-facebook btn-fix" href="https://facebook.com/misiazdrave"><span class="fa fa-facebook"> </span>Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="g-pt-50 g-pb-180"></section>
    <section class="g-pt-50 g-pb-180"></section>
</div>
